
    <header class="header">
      <div class="nav">
        <a class="logo" href="/">
          <img src="https://assets.codepen.io/373707/coffee.svg" />
        </a>
        <div class="sidenav">
          <a class="active" href="/">
            <i class="fa fa-house"></i>
            Home
          </a>
          <!-- <a href="ideas">
            <i class="fa fa-lightbulb"></i>
            Ideas
          </a> -->
          <a href="/favlist">
            <i class="fa fa-heart"></i>
            Favorites
          </a>
          <a href="/login">
            <i class="fa fa-user"></i>
            Login
          </a>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="topnav">
        <a href="/">Home</a>
        <!-- <a href="#">IDEAS</a> -->
        <a href="/favlist">FAVORITES</a>
        <a href="/login">Login</a>
      </div>

