<div class="center-card">
    <a href=<%= `/recipes/${recipe.id}` %>><h1><%- recipe.title %></h1></a>
    
    <img src="<%- recipe.image %>">
    <button class="submit-button"> <i class="fa fa-heart"></i></button>
  </div>