:root {
  --blue: #063C5E;
  --white: #FFFFFF;
  --yellow: #ddc76f;
  --teal: #006B6B;
  --light-teal: #009E9E;
  --grey: #C2C2C2;
  --orange: #ff5722;
  --lightorange: #FFE0B2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  padding: 1rem;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}
input:-internal-autofill-selected{
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.container {
  display: flex;
  /* background-image: url("https://images.unsplash.com/photo-1556911220-e15b29be8c8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* min-height: 100vh; */
  position: relative;
  
  /* added the follwoing 6.6.22 */
  width:100%;
  align-items:center;
  justify-content: center;
}
.content{
  /* background-image: url("https://images.unsplash.com/photo-1556911220-e15b29be8c8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
  background-image: url("../images/orange-kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  margin-top: 20px;
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: var(--blue);
  flex-direction: column;
  
}

::placeholder {
  color: var(--blue);
}

.search-bar button img{
  width: 25px;
}
.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: orangered;
  cursor: pointer;
  
}
/* 
.header-top {
  background-color:#C2C2C2 ;
  padding: 1rem;
  text-align: center;
} */

.header {
  background-color: black;
  /* background-image: linear-gradient(#ddc76f,#ff5722, #ff5722); */
  background-image: linear-gradient(#ddc76f, red);
  height: 100vh;
  overflow-y: auto;
  width: 10rem;
}

.header::-webkit-scrollbar {
  display: none;
}

.nav a {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav a .fa {
  font-size: 2.5rem;
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding-bottom: 1rem;
}

.sidenav a .fa {
  padding-bottom: 0.5rem;
}

.sidenav a:hover {
  color:#063C5E;
  /* border-bottom: 1.5px solid var(--blue);
  border-top: 1.5px solid var(--blue); */
}

.logo {
  padding: 1.5rem 0;
}


.logo img {
  max-height: 3.5rem;
}

.topnav {
  display: none;
  background: #ff5722;
  padding: 0.8rem 0.8rem;
  justify-content: space-between;
}

.topnav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.topnav a:hover {
  color: var(--blue);
  /* border-bottom: 1.5px solid var(--blue);
  border-top: 1.5px solid var(--blue); */
}



@media (max-width: 600px) {
  .topnav {
    display: flex;
  }
  .header {
    display: none;
  }
  .content{
    height: calc(100vh - 90px);
  }
  .card {
    display: flex;
  }
}

.main {
  flex-grow: 1;
  /* overflow-y: auto; */
  height: 100vh;
}

.title {
  /* margin-top: 5vh; */
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-size: 2.5rem;
}

.mini-card-title {
  margin-top: 5vh;
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-size: 1.2rem;
  text-decoration: none;  
}
.big-card-title {
  margin-top: 5vh;
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-size: 1.1rem;
  font-weight: bold;
}


.center-card-container {
  text-align: center;
  padding: 60px 32px;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.75);
  /* box-shadow: 0 0 10px orangered, 0 0 10px orangered, 0 0 25px orangered; */
  border-radius: 25px;
  margin-top: 30px;

}
.center-card-container header {
  /* text-shadow: 0 0 5px orangered, 0 0 1px orangered, 0 0 1px orangered; */
  color: orangered;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat', sans-serif;
}
.box {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  /* background-color: rgba(0,0,0,0.5); */
  background-color: rgba(255,255,255,0.75);
  /* box-shadow: 0 0 10px orangered, 0 0 3px orangered, 0 0 3px orangered; */
  border-radius:20px;
}
.box span {
  color: var(--white);
  width: 40px;
  line-height: 45px;
}
.box input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: orangered;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 25px;
}
.bar{
  margin-top: 16px;
}
.show{
  position: absolute;
  right:13px;
  font-size: 13px;
  font-weight:700;
  color: orangered;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}
.box span{
  color: orangered;
}
.pass key:valid ~ .show{
  display: block;
} 
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: orangered;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.box input[type="submit"]{
  background-color: orangered;
  border-radius: 25px;
  /* text-shadow: 0 0 1px orangered, 0 0 1px orangered, 0 0 1px orangered; */
  color: var(--white);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.box input[type="submit"]:hover{
  background: var(--grey);
  color: orangered;
}
.login{
  color: orangered;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: black;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
a > .fa-google{
  color:black;
}
.facebook{
  margin-left: 0;
  background-color: orangered;
  /* text-shadow: 0 0 10px orangered, 0 0 2px orangered, 0 0 2px orangered; */
  border-radius: 25px;
}
.instagram{
  background-color: orangered;
  /* text-shadow: 0 0 10px orangered, 0 0 2px orangered, 0 0 2px orangered; */
  border-radius: 25px;
}
.facebook:hover{
  background: var(--grey);
  color: orangered;
}
.instagram:hover{
  background: var(--grey);
  color: orangered;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  leter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.signup{
  font-size: 15px;
  color: orangered;
  font-family: 'Poppins', sans-serif;
}
.signup a{
  color: orangered;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: none;
}
.signup-form{
  display: flex;
  flex-direction: column;
}
.signup-input{
  border: none;
  border-radius: .8rem;
  padding: 15px;
  margin: 8px 0;
  height: 30px;
  width:100%;
}
.center-card {
  margin-top: 15vh;
  /* background-color: rgb(255, 255, 255, 0.75); */
  background-color: rgba(0, 0, 0, 0.729);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--white);
  box-shadow: 0px 0px 40px 2px var(--white); 
  
}
.center-card .input {
  display: flex;
  align-items: center;
}
.signup-link {
  color: var(--white);
}

.ingredients[type=text] {
  border: none;
  border-radius: 8rem;
  padding: 12px 20px;
  margin: 8px 0;
  /* border-bottom: 2px solid red; */
}

/* .ingredients[type=text]:focus {
  background-color: var(--lightorange);
} */
.submit-button {
  margin-top: .85rem;
  margin-left: .1rem;
  border-radius: 0.8rem;
  border: 3px outset orangered;
  background-color: orangered;
  display: block;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  padding: 0.1rem;
  height: 30px;
}
.fa-heart {
  margin-top: .85rem;
  color: red;
}

.login {
  border: none;
  border-radius: .8rem;
  /* padding: 12px 20px; */
  margin: 8px 0;
}

/* .login:focus {
  background-color: var(--lightorange);
} */

.create-account-msg{
  margin-top: .95rem;
}
.footer {
  /* background-color: var(--orange); */
  /* background-image: linear-gradient(to right, #ff5722, #ff5722, #ddc76f); */
  background-image: linear-gradient(to right, red, #ddc76f);
  padding: 0.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--white);
  position: absolute;
  height: 45px;
  margin-top: -100px;
  clear:both;
  bottom: 0;
  width: 100%;
  /* height: 3.5rem; */
  
}
/* .wrapper {
  background-image: linear-gradient( var(--white), #006B6B);
  padding:20px;
  margin: 0px;
  
}
.content {
  background-color: var(--white);
  margin: 20px;
  
  border: 3px solid var(--blue);
  padding: 30px;
  margin-bottom: 50px;
} */

.recipe-cards {
  margin-top: 4vh;
  background-color: rgb(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  
  
  flex-direction: column;
  box-shadow: 0px 0px 30px 2px #000; 
  text-align: center;
  max-width: 200px;
  color: var(--blue); 
  
  /* width: 250px;
  height: auto;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px; */
  
}


.recipe-card {
  /* border: 5px solid var(--yellow);
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 300px;
  width: 400px;
  background-color: var(--white); */
  
  /* margin-top: 20vh;
  background-color: rgb(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; */
  
  
  
  position: relative;
  background: rgb(255, 255, 255, 0.85);
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 30px 2px #000; 
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  
  
  
  
  
  /* position: relative;
  background: var(--white);
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 30px 2px #000;
  .header {
    background: $food;
    background-size: cover;
    min-height: 350px;
    .icon a .fa-heart-o {
      position: absolute;
      left: 85%;
      bottom: 30.7%;
      background: $heart;
      color: $white;
      font-size: 1.3em;
      font-weight: bold;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 5px 30px 1px $heart; */
      
    }
    
    .recipe-card-top {
      text-align: center;
      background-color: var(--blue);
      border-top-left-radius: 31px;
      border-top-right-radius: 31px;
      border-bottom: 3px solid var(--yellow);
      /* padding: 20px; */
    }
    
    .recipe-card-bottom {
      margin: 35px;
      
    }
    
    .card-img {
      height: auto;
      width: 400px;
      border: 3px solid var(--white);
      border-radius: 35px;
      margin: 30px;
      
    }
    
    .title {
      font-style: italic;
    }
    
    .prefix {
      color: var(--blue);
      /* text-decoration: underline; */
      font-weight: bold;
      margin-bottom: 15px;;
    }
    
    .recipe-cover{
      width: 200px;
    }
    
    .recipes {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      
    }
    
    .recipe {
      height: 300px;
      width: 200px;
      
    }
    
    
    
    
    
    