:root {
  --blue: #063C5E;
  --white: #FFFFFF;
  --yellow: #ddc76f;
  --teal: #006B6B;
  --light-teal: #009E9E;
  --grey: #C2C2C2;
  --orange: #ff5722;
  --lightorange: #FFE0B2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  padding: 1rem;
  color: white;
}

.container {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1556911220-e15b29be8c8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height:100vh;
  position: relative;
}


/* 
.header-top {
  background-color:#C2C2C2 ;
  padding: 1rem;
  text-align: center;
} */

.header {
  background-color: black;
  /* background-image: linear-gradient(#ddc76f,#ff5722, #ff5722); */
  background-image: linear-gradient(#ddc76f, red);
  height: 100vh;
  overflow-y: auto;
  width: 10rem;
}

.header::-webkit-scrollbar {
  display: none;
}

.nav a {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav a .fa {
  font-size: 2.5rem;
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding-bottom: 1rem;
}

.sidenav a .fa {
  padding-bottom: 0.5rem;
}

.sidenav a:hover {
  color:#063C5E;
  /* border-bottom: 1.5px solid var(--blue);
  border-top: 1.5px solid var(--blue); */
}

.logo {
  padding: 1.5rem 0;
}


.logo img {
  max-height: 3.5rem;
}

.topnav {
  display: none;
  background: #ff5722;
  padding: 0.8rem 0.8rem;
  justify-content: space-between;
}

.topnav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.topnav a:hover {
  color: var(--blue);
  /* border-bottom: 1.5px solid var(--blue);
  border-top: 1.5px solid var(--blue); */
}



@media (max-width: 600px) {
  .topnav {
    display: flex;
  }
  .header {
    display: none;
  }
  .card {
    display: flex;
  }
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}

.title {
  margin-top: 5vh;
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  
  
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-card {
  margin-top: 20vh;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.ingredients[type=text] {
  border: none;
  border-radius: .8rem;
  padding: 12px 20px;
  margin: 8px 0;
  /* border-bottom: 2px solid red; */
}

.ingredients[type=text]:focus {
  background-color: var(--lightorange);
}
.submit-button {
  margin-top: .85rem;
  border-radius: 0.5rem;
  border-color: var(--grey);
  border-width:3px;
  border-style: outset;
  background-color: lightgrey;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0.1rem;
}

.login {
  border: none;
  border-radius: .8rem;
  padding: 12px 20px;
  margin: 8px 0;
}

.login:focus {
  background-color: var(--lightorange);
}

.footer {
  /* background-color: var(--orange); */
  /* background-image: linear-gradient(to right, #ff5722, #ff5722, #ddc76f); */
  background-image: linear-gradient(to right, red, #ddc76f);
  padding: 0.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--white);
  position: absolute;
  height: 35px;
  margin-top: -100px;
  clear:both;
  bottom: 0;
  width: 100%;
  /* height: 3.5rem; */
  
}
/* .wrapper {
  background-image: linear-gradient( var(--white), #006B6B);
  padding:20px;
  margin: 0px;
  
}
.content {
  background-color: var(--white);
  margin: 20px;
  
  border: 3px solid var(--blue);
  padding: 30px;
  margin-bottom: 50px;
} */

.recipe-cards {
  margin-top: 20vh;
  background-color: rgb(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  
  
  flex-direction: column;
  box-shadow: 0px 0px 30px 2px #000; 
  text-align: center;
  max-width: 200px;
  color: var(--blue); 
  
  /* width: 250px;
  height: auto;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px; */
  
}


.recipe-card {
  /* border: 5px solid var(--yellow);
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 300px;
  width: 400px;
  background-color: var(--white); */
  
  /* margin-top: 20vh;
  background-color: rgb(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; */
  
  
  
  position: relative;
  background: rgb(255, 255, 255, 0.85);
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 30px 2px #000; 
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  
  
  
  
  
  /* position: relative;
  background: var(--white);
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 30px 2px #000;
  .header {
    background: $food;
    background-size: cover;
    min-height: 350px;
    .icon a .fa-heart-o {
      position: absolute;
      left: 85%;
      bottom: 30.7%;
      background: $heart;
      color: $white;
      font-size: 1.3em;
      font-weight: bold;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 5px 30px 1px $heart; */
      
    }
    
    .recipe-card-top {
      text-align: center;
      background-color: var(--blue);
      border-top-left-radius: 31px;
      border-top-right-radius: 31px;
      border-bottom: 3px solid var(--yellow);
      /* padding: 20px; */
    }
    
    .recipe-card-bottom {
      margin: 35px;
      
    }
    
    .card-img {
      height: auto;
      width: 400px;
      border: 3px solid var(--white);
      border-radius: 35px;
      margin: 30px;
      
    }
    
    .title {
      font-style: italic;
    }
    
    .prefix {
      color: var(--blue);
      /* text-decoration: underline; */
      font-weight: bold;
    }
    
    .recipe-cover{
      width: 200px;
    }
    
    .recipes {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      
    }
    
    .recipe {
      height: 300px;
      width: 200px;
      
    }
    
    
    
    
    
    