<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

<div class="content">
    <h1 class="title">What's Cookin'?</h1>
    <div class="card-container">
      <div class="center-card">
        <form action="/recipes" method="get">
        <label for="query">Ingredients:</label>
        <input name="ingredients" placeholder="avocado, cheese..." id="query" type="text" class="ingredients" />
        <input type="submit" class="submit-button" value="Search">
      </form>
        
        
        
      </div>
    </div>
  </div>
  <%- include('../partials/footer') -%>