<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>

        <div class="content">
            <h1 class="title">Hey there, welcome back !</h1>
            <div class="card-container">
                <div class="center-card">
                    <form action="/user/login" method="post">
                        <div>
                            <label for="email">Email:</label>
                            <input placeholder="mango123" id="email" type="text" class="login" name="email" />
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input placeholder="***" id="password" type="password" class="login" name="password"/>
                        </div>
                        <button class="submit-button" type="submit">Login</button>
                    </form>
                    <button class="submit-button">
                        <a href="/auth/google" role="button">Login or Register with Google</a>
                    </button>
                    <!-- <a class="submit-button" href="signup">Sign Up</a> -->
                    <p>Don't Have An Account? <a href="signup">Create One Here.</a></p>
                </div>

            </div>
        </div>
        <%- include('../partials/footer') -%>