
/* .card-image,
.card,
.card-action {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}  */
.brand-logo {
    margin-left: 1em;
}
.content {
    margin-bottom: 0px;
    margin-top:  0px;
}
.footer {
    margin-bottom: 0px;
    margin-top:  0px;
}

.card-title {
    font-size: 2.5em !important;
    font-weight: bolder;
    /* Outline to make text more readable: */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(#fbe9e7, #ff5722);
}